.lnk{
      float: right;
    }
p{
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  }
div{
    justify-content: center;
    }
#form-body{
    padding: 16px;
    font-size: 14px;
    background-color: hsl(210 6% 87%,1);
    border: 1px solid hsla(210,18%,87%,1);
    width: 420px;
    }
#acc{
    padding: 16px 16px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    width: 420px;
    }
#email{
      border-radius: 5px;
    }
#pwd{
      border-radius: 5px;
    }
#foot{
  justify-content: center;
}